.container {
  display: block;
  width: 90vh;
  margin : 20px  ; 
}

.form-control {
  display: block;
  padding: 10px 20px;
  width: 80%;
  line-height: 20px;
  font-size: 20px;
  border-radius: 0;
  border: 0;
  border-bottom: solid 3px transparent;
  background-color: #eee;
  outline: none;
}

.form-control::placeholder {
  font-size: 20px;
  font-weight: bolder;
}

.form-control:focus  {
border-bottom  : solid 3px  green ; 
}
